* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bio {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3em 0 2em 5em;
    border-bottom: 0.2px solid #dbdbdb;
    margin-top: 5em;
    margin-bottom: 2em;
}

.profile-photo {
    background: #000;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-top: 0.5em;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.profile-photo img:hover {
    opacity: 0.7;
}

.profile-info .name {
    font-size: 1.7em;
    color: #545454;
    margin-bottom: 0;
}

.profile-info .about {
    font-size: 1.2em;
    color: #545454;
}

.profile-info button {
    background-color: #0095f6;
    color: #fff;
    font-size: 1.1em;
    width: 6em;
    height: 2em;
}

.profile-info button:hover {
    background-color: #0081d6;
}

.edit-bio-form input {
    width: 50%;
    height: 2em;
    border: 0.1em solid #dbdbdb;
    border-radius: 0.2em;
    padding: 0.5em;
    margin-top: 0.5em;
}


.edit-bio-form button {
    margin: 1em 1em 0 0;
}    

.edit-bio-form .cancel-button {
    background-color: #890000;
}    

#addPhotoInput {
    display: none;
}







/* Media Query */
@media screen and (max-width: 600px) {
    .bio {
        width: 95vw;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        padding: 0.5rem;
        /* border: 1px solid #000; */
    }

    .profile-photo {
        display: flex;
        width: 5em;
        height: 5em;
        margin-top: 3em;
        margin-right: auto;
        margin-left: auto;
    }

    /* .profile-info {
        /* border: 1px solid #000; */
    /* } */

    .about {
        text-align: center;
        max-width: 90%; 
    }
}    